.ticket-item{
  height: 250px;
  border: none;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  transition: 1s;
  justify-content: space-between;
  & .ticket-title{
    padding: 2px;
  }
  & img{
    height: 200px;
    border-radius: 110px;
    border: 2px solid green
  }
}
.ticket-item:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  
}