<div>
 <!-- <ng-container *ngIf="loadCountBlock">
  <p>Количество единиц: {{tickets.length}}</p>
  <p>Активный тур: {{blockDirective.activeElementIndex}}</p>
</ng-container>  -->
<div>
  <p class="search">Поиск на странице   <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText></p>
  </div>
<h2>Наши услуги</h2>
<ul class="servis">
  <li>Разработка котлованов</li>
  <li>Земляные работы</li>
  <li>Вывоз грунта</li>
  <li>Вывоз мусора</li>
  <li>Рытье траншей</li>
  <li>Перевозка спецтехники</li>
  <li>Уборка и вывоз снега</li>
 </ul>
 <p></p>
  <h2>Наша техника</h2>
<div appBlocksStyle
     *ngIf="tickets"
     #tourWrap
     #blockDirective='blocksStyle'
     [selector]="'.ticket-item'"
     [initFirst]= "false"
     (renderComplete) = "directiveRenderComplete($event)"
     class="d-flex flex-wrap justify-content-around">
  <div class="ticket-item col-3 m-2"
               (click)="goToTicketInfoPage(item)"
                *ngFor="let item of tickets; let i=index">
    <div class="ticket-title"> {{item.name}}</div>
    <div class="ticket-img">
      <img class="w-100" src="/assets/img/{{item.img}}">
    </div>
  </div>
  </div>
</div>

