<div class="fon"></div>
<p class="main_header">Roem v SPb</p>
<p class="st_header">Аренда спецтехники в Санкт-Петербурге</p>
 <div class="d-flex flew-wrap justify-content-center align-items-center">
 
  <p-tabView class="abc">
    
    <p-tabPanel header="Авторизация">
      <app-authorization ></app-authorization>
    </p-tabPanel>
    <p-tabPanel header="Регистрация">
      <app-registration ></app-registration>
    </p-tabPanel>

  </p-tabView>

</div>
<p-toast position="top-center" ></p-toast>

