   .abc{

padding-top: 1rem;
opacity: 0.95;
   }
   .st_header{
font-size: 36px;
color:aliceblue;
text-align: center;
margin: 0;

   }

   .main_header{

    font-size: 52px;
    color:aliceblue;
    text-align: center;
    margin: 0;
       
   }