<div class="mt-4">
    <h4 class="mx-3">Создание записи</h4>
    <div class="mt-3 user-info" [formGroup]="technicForm">
      <div class="mt-3">
        <span class="mx-3 text_length"> Название техники</span>
        <input type="text"
               class="mt-3"
               formControlName="name"
               pInputText
        />
      </div>
        <div class="mt-3">
          <span class="mx-3 text_length"> Тоннаж</span>
          <input type="text"
          class="mt-3"
                 formControlName="tonnazh"
                 pInputText
                 />
                </div>
                <div class="mt-3">
                  <span class="mx-3 text_length">Тип техники</span>
                  <input type="text"
                         class="mt-3"
                         formControlName="type"
                         pInputText
                  />
                </div>
        <div class="mt-3">
          <span class="mx-3 text_length"> Стоимость</span>
          <input type="text"
                 class="mt-3"
                 formControlName="price"
                 pInputText
          />
        </div>
        <div class="mt-3">
          <span class="mx-3 text_length">Описание</span>
          <input type="text"
                 class="mt-3"
                 formControlName="description"
                 pInputText
          />
        </div>
        <div class="mt-3">
          <span class="mx-3 text_length"> Изображение </span>
          <input type="file"
                 class="mt-3 input_length"
                 (change)="selectFile($event)"
                 formControlName="img"
                 pInputText
          />
        </div>
      <div class="mt-4">
        <button class="btn btn-success mx-3" type="submit"
                (click)="createTour()"
                [disabled]="!technicForm.valid">Создать</button>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  