:host{
  min-width: 300px;
  width: 300px;
  flex-basis: 300px;
  border: 1px solid gray;
  height: 100%;
}
.menu{
  padding-left: 10px;
  font-weight: bold;
  color: #212529;
}
.technicT{
  color: #212529; 
}
.question_style{
  margin: 1.5rem;
  padding: 1rem;
  text-align: justify;
  color: #151414;
  border: 1px solid gray;
  border-radius: .5rem;
  background-color: #94dcf8;
  opacity: .9;
}
.advertisement{
  margin: 1rem;
  padding: 0.5rem;
  text-align: justify;
  color: #a70d17;
  border: 1px solid rgb(220, 243, 17);
  background-color: #e1e950;

}