<p-table [value]="users" [scrollable]="true">
 <!-- <button  type="button">Сформировать</button>-->
 <!--(click)="showBooking(order)"-->
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td *ngFor="let col of cols">
          {{user[col.field]}}
        </td>

        <td>{{orders.techName}}</td>
        <td>{{orders.firstName}}</td>
        <td>{{orders.cardNumber}}</td>
        <td>{{orders.workingTime}}</td>
        <td>{{orders.workingDay}}</td>
        <td>{{orders.workingLocation}}</td>
       

      </tr>
    </ng-template>