<div class="techmodel-info-wrap">

<div class="wrapflex">


<div class="block">
<h4>Информация о спецтехнике</h4>
  <!-- <a routerLink="/techmodels/techmodels-list">Назад</a>-->
<div class="mt-3">{{techmodel?.name}}</div>
<div class="descr_style">{{techmodel?.description}}</div>
<img class="img_style1" alt="techmodel-img" src="http://localhost:3000/public/{{techmodel?.img}}">
</div>
    
      <div class="block">
        <h4>Оставить заявку на бронирование</h4>
        <div class="mt-3 user-info" [formGroup]="userForm" (ngSubmit)="onSubmit()">
          

            <div>
              <span class="mx-3 text_style">Наименование спецтехники</span>
              <input type="text"
                     class="mt-3"
                     pInputText
                     formControlName="techName">
            </div>
            <!--<span class="mx-3">Имя</span>-->
            <div>
              <span class="mx-3 text_style">Введите свое имя</span>
            <input type="text"
                   class="mt-3"
                   pInputText
                   formControlName="firstName">
                  </div>
          
          <div>
            <span class="mx-3 text_style">Введите свой номер карты</span>
            <input type="text"
                   class="mt-3"
                   pInputText
                   formControlName="cardNumber"
                   value="{{this.user?.cardNumber}}"/>
          </div>
          <div class="mt-3">
            <!--<span class="mx-3">Срок выполнения работ</span>-->
            <span class="mx-3 text_style">Срок выполнения работ</span>
            <input type="text"
                   class="mt-3"
                   pInputText
                   formControlName="workingTime">
          </div>
          
         <!-- <div class="mt-3">
            <span class="mx-3">Возраст</span>
            <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue: 'Возраст'}"></ng-container>
            <p-inputNumber
              formControlName="age"
              [showButtons]="true">

            </p-inputNumber>
          </div>-->
          <div class="mt-3">
            <!--<span class="mx-3">Дата выполнения работ</span>-->
            <span class="mx-3 text_style">Дата выполнения работ</span>
            <p-calendar
              formControlName="workingDay"
              (onSelect)="selectDate($event)">

            </p-calendar>
          </div>
          <div class="mt-3">
            <!--<span class="mx-3">Место выполнения работ</span>-->
            <span class="mx-3 text_style">Место выполнения работ</span>
            <input type="text"
                   class="mt-3"
                   formControlName="workingLocation"
                   pInputText>
          </div>
          <div class="mt-4">
            <button class="btn-success btn" type="submit"
                    (click)="initTour()"
                    [disabled]="!userForm.valid">Забронировать</button>
          </div>

        </div>
      </div>


    </div>


      <div class="mt4">
        <h5>Также вы можете забронировать</h5>
       <!-- <div>
          <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text">
        </div> -->
        <p-carousel [value]="similiarTechnics" class="carousel_style">
          <ng-template let-technic pTemplate="item">
           <div class="technic_title">{{technic.name}}</div>
            <div class="techmodel-img-nearest" (click)="goToTechmodelInfoPage(technic)">
              <img class="img_style" src="http://localhost:3000/public/{{technic.img}}"/>
            </div>
          </ng-template>
        </p-carousel>
      </div>
  
  </div>

<ng-template #userFieldTitle let-value="titleValue" >
  <span class="mx-3">{{value}}</span>
</ng-template>