.techmodel-item{
  height: 250px;
  border: none;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  transition: 1s;
  justify-content: space-between;
  & .techmodel-title{
    padding: 2px;
    text-align: center;
  }
  & img{
    height: 200px;
    border-radius: 110px;
    border: 2px solid green
  }
}
.techmodel-item:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  
}
h2 {
  text-align: center;
  padding-bottom: 1rem;
  color: rgb(41, 4, 70);
}
.search {
  text-align: right;
}

  ul.servis {
    margin: 0; 
    padding: 4px; 
    text-align: center;
   }
   ul.servis li {
    display: inline-flex; 
    
    margin-right: 3rem;
    margin-left: 2rem; 
    margin-bottom: 1rem;
    padding: 4px;
   color: rgb(41, 4, 70);
    font-size: 19px;
    border: 1px solid #034429; 
    border-radius: 3px;
    padding: 8px; 
    background-color: #5cae5c;
    transition: all 1s ease-in-out;
   }
   ul.servis li:hover {
    transform: translateX(20px);
    transition: all 1s ease-in-out;
    color: #DEEAF7;

    
}