<div>
 <!-- <ng-container *ngIf="loadCountBlock">
  <p>Количество единиц: {{techmodels.length}}</p>
  <p>Активный тур: {{blockDirective.activeElementIndex}}</p>
</ng-container>  -->
<div>
  <p class="search">Поиск на странице   <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText></p>
  </div>
<h2>Наши услуги</h2>
<ul class="servis">
  <li>Разработка котлованов</li>
  <li>Земляные работы</li>
  <li>Вывоз грунта</li>
  <li>Вывоз мусора</li>
  <li>Рытье траншей</li>
  <li>Перевозка спецтехники</li>
  <li>Уборка и вывоз снега</li>
 </ul>
 <p></p>
  <h2>Наша техника</h2>
<div appBlocksStyle
     *ngIf="techmodels"
     #technicWrap
     
    
     class="d-flex flex-wrap justify-content-around">
  <div class="techmodel-item col-3 m-2"
               (click)="goToTechmodelInfoPage(item)"
                *ngFor="let item of techmodels; let i=index">
    <div class="techmodel-title"> {{item.name}}</div>
    <div class="techmodel-title"> от {{item.price}} р./смена</div>
    <div class="techmodel-img">
      <img class="w-100" src="http://localhost:3000/public/{{item.img}}">
    </div>
  </div>
  </div>
</div>

