<h2>Оставить отзыв</h2>
<div class="wrapper_feedb">
<div>
  <span class="mx-3 style_reg">Ваше имя </span>
  <input type="text"
        class="mx-3 "
         class="style_inp_1"
         pInputText
         
         [(ngModel)]="name"/>
</div>
  <div>
    <span class="mx-3 style_reg">Ваш отзыв</span>
    <input type="text"
          class="pole_vvoda"
           
           pInputText
           
           [(ngModel)]="feedback"/>
  </div>

<div class="mt-5 d-flex justify-content-center ">
  <button 
          (click)="sendFeedback($event)"
          type="button" class="btn btn-success">Отправить отзыв</button>
</div>
</div>
<div class="feedbacks">
<div class="feedback_style1">
  Алиса:<br>
  Компания надёжная! Всегда соблюдают сроки поставки. Сотрудники в этой фирме ответственные, цены лояльные, техника в хорошем состоянии. 
</div>

<div class="feedback_style1">
  Михаил:<br>
  Очень понравилось сотрудничать с этой организацией, Обслуживание на хорошем уровне, время подачи спецтехники — в течение дня. Рекомендую!
</div>

<div class="feedback_style1">
  Елена:<br>
  Отличная компания! Сотрудники и рабочие молодцы, всё по договоренности и в срок, буду и дальше работать с RoemvSpb. 
</div>

<div class="feedback_style1">
  Владимир:<br>
  Убедились, что арендовать дешевле, чем покупать такую технику и содержать её самим. Арендованная техника в хорошем состоянии, сервис отлично налажен.
</div>

<div class="feedback_style1">
  Андрей:<br>
  Хотим поблагодарить RoemvSpb за длительное сотрудничество с нашей строительной компанией. Всегда все оперативно делают и доставляют. 
</div>


</div>