:host{
  height: 120px;

  display: block;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  padding: 0;
}
.footer__inner{
  background: #E2E3E4;
  padding: .5rem 0;}
 
.footer__logo{
  max-height: 60px;
  max-width: 60px;
}

.footer__block{
  margin-bottom: 0;
  padding:  0 1rem;
}
.footer__heading{
  text-transform: uppercase;
  color: #7f7f7f;
  font-weight: 600;
  margin-bottom: 0.5rem;
  letter-spacing: .025rem;
  line-height: 1.2;
  text-align: center;
}
.footer__org{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.footer__copyright{
  color: #7f7f7f;
}
.address{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.address__item{
  color: #7f7f7f;
  text-decoration: none;
  transition: all .5s ease-in-out;
  text-align: center;
}
.address__item:hover{
  color: darkblue;
  transition: all .5s ease-in-out;
}

.socials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.socials__item{
  text-decoration: none;
  width: 2em;
  height: 2em;
  line-height: 2;
  text-align: center;
  border-radius: 50%;
  color: rgba(255, 255, 255, .8);
  background: #4d4d4d;
  margin: 0.25rem;
  transition: all .5s ease-in-out;
}
.socials__item:hover{
  color: rgba(255, 255, 255,1);
  background: #285360;
  transition: all .5s ease-in-out;
}