<p-table [value]="orders" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
    <ng-template pTemplate="body" let-orders>
      <tr>
       <!-- <td *ngFor="let col of cols">
          {{user[col.field]}}
        </td>-->
        <td>{{orders.techName}}</td>
        <td>{{orders.firstName}}</td>
        <td>{{orders.cardNumber}}</td>
        <td>{{orders.workingTime}}</td>
        <td>{{orders.workingDay}}</td>
        <td>{{orders.workingLocation}}</td>
        
      </tr>
    </ng-template>
</p-table>

