.registration-input-wrap span{
     width: 176px;
     border-radius: 0.25rem;
    // height: 15px;
     display: inline-block;
     

}



.style_reg {

 margin-top: 5px;
 margin-bottom: 5px;
}
.style_inp {
     border: 2px solid #bdbdbd;
     border-radius: 0.25rem;
     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.style_inp_1 {
     border: 2px solid red;
     border-radius: 0.25rem;
     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}