.input-error{
  border: 1px solid red !important;
}
body{
  height: 100vh;
}
.fon {
  position: absolute; 
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("img/picture-1000h.jpg");
  opacity: 0.97;  
  background-repeat: no-repeat;
  background-size: cover;

}