
<div class="main-footer">
    
    <div class="footer__inner">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer__block">
                    <div class="footer__org">
                       
                            <img class="footer__logo" src="https://cdn-icons-png.flaticon.com/512/1540/1540031.png">
                        
                        <div class="footer__copyright">&copy;&nbsp;2023. Все права защищены. </div>
                    </div>
                </div>

                <div class="col-md-4 footer__block">
                    <div class="footer__heading">Контакты</div>
                    <address class="address">
                        <a class="address__item" href="mailto:roemvspb@gmail.com"><i class="fas fa-envelope"></i>roemvspb@gmail.com</a>
                        <a class="address__item" href="tel:+78127030202"><i class="fas fa-phone-alt"></i>+7&nbsp;(812)&nbsp;703-02-02</a>
                        
                    </address>

                </div>
                <div class="col-md-4 footer__block">
                    <div class="footer__heading">Подпишитесь на нас</div>
                    <div class="socials">
                        
                        <a href="" class="socials__item fab fa-vk"></a>

                        <a href="" class="socials__item fab fa-youtube"></a>
                        <a href="" class="socials__item fab fa-telegram-plane"></a>
                 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
